.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1px;
  width: 40em;
  height: 40em;
}

.empty,
.brown,
.grey,
.red,
.teal,
.yellow {
  border: 1px solid black;
}

.brown {
  background-color: brown;
}

.grey {
  background-color: grey;
}

.red {
  background-color: red;
}

.teal {
  background-color: teal;
}

.yellow {
  background-color: yellow;
}
